/* AppSelectorPage.css */

.app-selector {
  display: flex; /* Changed from text-align to flex */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100%; /* Take the full height to allow vertical centering */
}
.app-main {
  display: flex; /* Makes .app-main a flex container */
  justify-content: center; /* Centers .button-grid horizontally */
  align-items: center; /* Centers .button-grid vertically */
  height: 100%; /* Full height of its container, needed for align-items to work */
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
  padding: 0px;
  /* No need for align-items or align-content here since .app-main is now the flex container */
}

.button-grid a button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s; /* Added transition for a smoother hover effect */
}

.button-grid a button:hover {
  background-color: #0056b3;
}
